.section
  %h3.top Location
  - if @org.latitude
    %div{ id: 'map' }
    - content_for :js do
      :javascript
        var locations = [
          ['#{@org.name}', '#{@org.latitude}', '#{@org.longitude}', 1],
        ];
        function map() { buildMap(locations); }
      = javascript_include_tag 'maps'
      = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=map'