<h3>Add A Project</h3>
<%= form_for @org, html: { class: 'form' } do |f| %>
  <% if @org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@org.errors.count, "error") %> prohibited this org from being saved:</h2>

      <ul>
      <% @org.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field   :name %>
  <%= f.text_field   :display_name %>
  <%= f.text_field   :location %>
  <%= f.text_field   :ein %>
  <%= f.file_field   :photo %>
  <%= f.text_area    :description %>
  <%= f.text_area    :mission %>
  <%= f.check_box    :tax_exempt %>
  <%= f.submit       'Submit' %>
<% end %>