.module
  .section
    %h3.top Credit Card

    - if @card
      .alert.alert-info= "Update <strong>#{@card.brand}</strong> ending in #{@card.last4}".html_safe
      %p.alerts

      %form{ action: update_creditcard_user_path(current_user), method: 'post', id: 'credit-card-form', class: 'form-horizontal' }  
        = hidden_field_tag :authenticity_token, form_authenticity_token

        .form-group
          %label.col-sm-2.control-label Card Number
          .col-sm-6
            = text_field_tag :card_number, nil, name: nil, placeholder: "Card Number", size: 20, data: { stripe: 'number' }, class: 'form-control'
        
        .form-group
          %label.col-sm-2.control-label CVC
          .col-sm-3
            = text_field_tag :cvc, nil, name: nil, placeholder: "CVC", size: 20, data: { stripe: 'cvc' }, class: 'form-control'
        
        .form-group
          %label.col-sm-2.control-label Exp Date
          .col-sm-10
            = select_month(Date.today, { prompt: 'Choose month' }, { data: { stripe: 'exp-month' }, class: 'form-control select-inline' })
            = select_year(Date.today, { start_year: Date.today.year, prompt: 'Choose year' }, { data: { stripe: 'exp-year' }, class: 'form-control select-inline' })
        
        .form-group
          %label.col-sm-2.control-label
          .col-sm-10
            = submit_tag 'Update Card', class: 'submit btn btn-primary'
      
      - content_for :js do
        = javascript_include_tag 'https://js.stripe.com/v2/'
        = javascript_include_tag 'stripe'

    - else
      .well No cards listed yet.