.section
  %table.table.table-bordered.bottom
    %tr 
      %td{ width: '100px'} Donation
      %td= number_to_currency(@amount, :unit => '$')
    - if @reward
      %tr 
        %td Reward
        %td= @reward.description


- if @card
  .section
   
    = form_for [@project, @donation], html: { id: 'payment-form', class: 'form-horizontal' } do
      %p.alerts
      = hidden_field_tag :reward, (@reward) ? @reward.uuid : 0
      = hidden_field_tag :amount, @amount
      = hidden_field_tag :token, 0
      
      .form-group
        .col-sm-6.text-warning
          = check_box_tag :anonymous
          Donate anonymously

      .form-group
        .col-sm-3
          = submit_tag 'Place Donation Now', class: 'submit btn btn-success btn-block'
    
    %p.text-muted= link_to 'Click here to update your credit card', creditcard_user_path(current_user)

- else
  .section
    = form_for [@project, @donation], html: { id: 'payment-form', class: 'form-horizontal' } do
      %p.alerts
      = hidden_field_tag :reward, (@reward) ? @reward.uuid : 0
      = hidden_field_tag :amount, @amount

      - unless user_signed_in?
        .form-group
          %label.col-sm-2.control-label Name
          .col-sm-6
            = text_field_tag :name, nil, placeholder: "Full Name", class: 'form-control'

        .form-group
          %label.col-sm-2.control-label Email
          .col-sm-6
            = text_field_tag :email, nil, placeholder: "your.email@example.com", class: 'form-control'

      .form-group
        %label.col-sm-2.control-label Card Number
        .col-sm-6
          = text_field_tag :card_number, nil, name: nil, placeholder: "Card Number", size: 20, data: { stripe: 'number' }, class: 'form-control'
	    
      .form-group
        %label.col-sm-2.control-label CVC
        .col-sm-3
          = text_field_tag :cvc, nil, name: nil, placeholder: "CVC", size: 20, data: { stripe: 'cvc' }, class: 'form-control'
	    
      .form-group
        %label.col-sm-2.control-label Exp Date
        .col-sm-10
          = select_month(Date.today, { prompt: 'Choose month' }, { data: { stripe: 'exp-month' }, class: 'form-control select-inline' })
          = select_year(Date.today, { start_year: Date.today.year, prompt: 'Choose year' }, { data: { stripe: 'exp-year' }, class: 'form-control select-inline' })
	    
      .form-group
        .col-sm-10.col-sm-offset-2.text-warning
          %label.checkbox
            = check_box_tag :anonymous
            Donate anonymously

      .form-group
        %label.col-sm-2.control-label
        .col-sm-10
          = submit_tag 'Donate Now', class: 'submit btn btn-success'


  = javascript_include_tag 'https://js.stripe.com/v2/'
  :javascript
    Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}"); 
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        $('.alerts').html('<div class="alert alert-danger">'+response.error.message+'</div>');
        $form.find('.submit').prop('disabled', false);
      } else {
        var token = response.id;
        $form.append($('<input type="hidden" name="token" />').val(token));
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);
        $('.submit').prop('disabled', true);
        Stripe.createToken($form, stripeResponseHandler);
        return false;
      });
    });