!!!
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}/
    %title Giver
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout'

    - if flash[:notice]
      .section-alert.section-info= flash[:notice]
    - if flash[:alert]
      .section-alert.section-darger= flash[:alert]
    
    = yield